<!doctype html>
<html>
	<body>
		<a href = "/">Go back to home page</a>
		<div>Повторяющиеся задачи:</div>
		<form action="{{ url_for('post_test') }}" method="POST">
		<table border = 0>
			<thead>
			{% for title in titles %}
				<td>{{title}}</td>
			{% endfor %}
			</thead>
			
			{% for row in rows %}
				<tr>
				{% for item in row %}
					<td>{{item}}</td>
				{% endfor %}
				<td><input type="image" src="/static/done1.png" width="25" height="25" /></td>
				</tr>
			{% endfor %}
		</table>
		</form>
	</body>
</html>
